<div *ngIf="isElectronApp" id="menu-bar">
  <!-- <div class="left" role="menu">
    <button class="menubar-btn" id="menu-btn"><i class="fas fa-bars"></i></button>
    <h5>Pathfinding visualizer</h5>
  </div> -->
  <!-- <div class="left" role="menu">
    <img class="logo" src="assets/images/logo.png" alt="logo">
  </div> -->
  <div class="menu-panel"></div>
  <div class="menu-items">
    <button class="menubar-btn" id="minimize-btn"><img src="assets/images/hide_black.svg" /></button>
    <button class="menubar-btn" id="max-unmax-btn"><img src="assets/images/fullscreen_black.svg" /></button>
    <button class="menubar-btn" id="close-btn"><img src="assets/images/close_black.svg" /></button>
  </div>
</div>
