<header>
  <img class="logo" src="assets/images/logo.png" alt="logo">

  <nav>
    <ul class="links">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/explore">Explore</a>
      </li>
      <li>
        <a routerLink="/about">About</a>
      </li>
    </ul>
  </nav>
  <!-- <a class="contact" routerLink="/contact"><button>Contact</button></a> -->
  <a href="https://github.com/NoCodingNoLifee" aria-label="GitHub Repository" target="_blank" rel="noopener noreferrer">
    <button class="github-button">
      <img src="assets/images/github-circle-white.svg" alt="github" class="github-logo">
      GitHub
    </button>
  </a>
</header>
